.home-page-container{
    width : 100vw;
    min-height : 100vh;
    /*credit: https://wallpaper.dog/large/20560991.jpg*/
    background-image: url('../images/plane.jpg');
    opacity: .9;
    /* -webkit-filter: grayscale(100%);
    filter: grayscale(100%); */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat:no-repeat;
    background-position : 5%;
}

.home-page-container-content{
    width: 100vw;
    min-height : 94vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Monaco', Geneva, Tahoma, sans-serif;
}

.homepage-info-card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.homepage-info-card {
    width : 30%;
    height : auto;
    border-radius: 25px;
    padding : 0px 20px 10px 20px;
    margin : 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 1s;
    color: var(--light);
    background-color: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    font-family: 'Monaco', Geneva, Tahoma, sans-serif;
}

#homepage-header{
    color : var(--light);
    font-family: 'Monaco', Geneva, Tahoma, sans-serif;
}

.pilot-icon-homepage{
    width : 30%;
    height : auto;
    border : 2px solid var(--blue);
    border-radius: 50%;
    padding : 5px;
}

.homepage-info-card hr{
    width : 80%;
    margin : 5px;
    height : 1px;
    background-color: var(--blue);
    color : var(--blue);
    border : 1px solid var(--blue);
}

.homepage-info-card h2{
    margin : 15px 0px 5px 0px;
    font-family: 'Monaco', Geneva, Tahoma, sans-serif;
}

#homepage-login-b{
    width : 40%;
    padding : 10px 5px 10px 5px;
    font-weight: bold;
    font-size: 1.1rem;
    margin : 10px;
    background-color: var(--blue);
    color : var(--light);
    border : none;
    border-radius: 10px;
}

#homepage-login-b:hover{
    background-color: rgb(58, 58, 237);
}

#homepage-sign-up-b{
    width : 30%;
    padding : 10px 5px 10px 5px;
    font-weight: bold;
    font-size: 1.1rem;
    margin : 10px;
    background-color: var(--light);
    color : var(--darkest);
    border : none;
    border-radius: 10px;
}

#homepage-sign-up-b:hover{
    background-color: lightgray;
}

@media only screen and (max-width : 500px){
    .homepage-info-card-container{
        flex-direction: column;
    }

    .homepage-info-card{
        width : 70vw;
    }
}