.private-pilot-homepage-container{
    width : 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.private-pilot-homepage-content-container{
    min-height: 95vh;
    width : 100vw;
}